.todo-list {
	text-align: center;
	background-color: #455a64;
	color: #bdbdbd;
	width: 30vw;
	position: absolute;
	top: 4%;
	right: 35%;
	padding-bottom: 10%;

	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 20%;
}

.todo-list h1 {
	font-size: 40px;
}
